:root {
  --green: #83e1d0;
  --red: #ef7b54;
  --background: #f8f1e9;
  --gradient-1: #343e63;
  --gradient-2: #2a3352;
}

html {
  font-size: 10px;
  font-weight: 300;
}

body {
  width: 90vw;
  margin: 0 auto;
  background: radial-gradient(var(--gradient1), var(--gradient2));
}

main {
  text-align: center;
  background: var(--background);
  border: solid var(--red);
  border-width: 0 8px 8px 8px;
  min-height: 80vh;
  border-radius: 0 0 3rem 3rem;
  padding: 1rem;
  color: #1f2933;
}

h2 {
  font-size: 2.2rem;
  margin: 8rem 0;
}

p {
  font-size: 1.8rem;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  cursor: pointer;
  background: var(--green);
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
}

button:last-child {
  background: var(--red);
  border-radius: 0 0 1rem 1rem;
}

/* game screen */

h3 {
  font-size: 2rem;
}

input {
  border: 1px solid lightgray;
  background: transparent;
  margin: 2rem 0;
  padding: 1rem 0;
  width: 16rem;
  text-align: center;
}

#range {
  display: flex;
  background: var(--green);
  height: 50px;
  padding: 0;
  margin: 0 0 4rem 0;
}

#rangeOutput {
  font-size: 1.6rem;
}

.stats {
  text-align: left;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info span {
  font-size: 1.6rem;
}

.flash {
  animation: flash 1s infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#newGameButton {
  border-radius: 0;
}

@media (min-width: 800px) {
  body {
    width: 60vw;
  }
}
