html {
  font-size: 10px;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 4px;
}

body {
  background: linear-gradient(#3b3b3b, #2b2b2b);
  min-height: 100vh;
  color: whitesmoke;
  font-size: 1.4rem;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
}

.player {
  background: radial-gradient(#211e24, #4f3341);
  padding: 2rem;
  border-radius: 2rem;
}

img {
  width: 50%;
}

#controls {
  border: 1px lightslategray solid;
  border-radius: 1rem;
  padding: 1.6rem;
}

.controls_wrapper > span {
  cursor: pointer;
  color: lightslategray;
  font-size: 6rem;
  padding: 2rem;
}

#currentSong {
  overflow: hidden;
}

#songList {
  overflow: hidden;
  text-align: left;
}

li {
  cursor: pointer;
  padding: 1.5rem;
}

li:hover {
  background: #f3644b;
}

progress {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
}

a {
  color: whitesmoke;
}

@media (min-width: 800px) {
  body {
    max-width: 60vw;
    font-size: 1.8rem;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 0.4s;
}
